<template lang="pug">
div
  h2 {{$t('citation.header')}}
  p.text-important {{$t('citation.desc')}}:&nbsp;
  b-list-group
    b-list-group-item(v-for="(mention, i) in mentions" :key="i")
      | {{mention.name}}: <span v-html="mention.before_link"></span>
      a(:href='mention.link.url')
        | {{mention.link.a}}&nbsp;
      |{{mention.after_link}}
</template>

<script>
  export default {
    name: "citation",
    computed: {
      mentions() {
        return this.$t("citation.mentions")
      }
    }
  }
</script>

<style lang="scss">

</style>
