<template lang="pug">
#navbar.mb-5.pb-3
  b-navbar(toggleable="lg" type="dark" variant="dark" fixed="top")
    b-navbar-brand(:to="localePath('index')") RSTreebank
    b-navbar-toggle(target="nav_collapse")
    b-collapse#nav_collapse(is-nav left)
      b-navbar-nav
        b-nav-item-dropdown(:text="$t('navbar.about')")
          b-dropdown-item(:to="localePath('aboutRST')") {{ $t('navbar.aboutRST') }}
          b-dropdown-item(:to="localePath('aboutRhetRel')") {{ $t('navbar.aboutRhetRel') }}
          b-dropdown-item(:to="localePath('otherCorpuses')") {{ $t('navbar.otherCorpuses') }}
          b-dropdown-divider
          b-dropdown-item(:href="instruction" download)
            fa(:icon="file_download_icon" :style="{color: 'green'}")
            | &nbsp;{{$t('navbar.manual')}}
        b-nav-item(:to="localePath('dataset')") {{ $t('navbar.dataset') }}
        b-nav-item-dropdown(:text="$t('navbar.markers')")
          b-dropdown-item(:to="localePath('markersFull')") {{ $t('navbar.markersFull') }}
          b-dropdown-item(:to="localePath('markersDict')") {{ $t('navbar.markersDict') }}
          b-dropdown-item(:to="localePath('markersVect')") {{ $t('navbar.markersVect') }}
        b-nav-item(:to="localePath('publications')") {{ $t('navbar.publications') }}
        b-nav-item(:to="localePath('team')") {{ $t('navbar.team') }}
        b-nav-item(:to="localePath('contact')") {{ $t('navbar.contact') }}
      b-navbar-nav.ml-auto
        b-nav-item(v-for="(locale, i) in showLocales" :key="i" :to="switchLocalePath(locale.code)") {{ locale.name }}
</template>

<script lang="coffee">
import { faFileDownload } from '@fortawesome/free-solid-svg-icons/faFileDownload'
import { INSTRUCTION_LINK } from '~/config/fe_constants.coffee'

export default
  name: "navbar"
  computed:
    showLocales: -> @$i18n.locales.filter((locale) =>
      locale.code != @$i18n.locale
    )
    file_download_icon: -> faFileDownload
    instruction: -> INSTRUCTION_LINK
</script>
