<template lang="pug">
.container
  b-jumbotron(header-level='4' :lead='$t("aboutRhetRel.jumbotron.lead")')
    template(slot='header')
      p.jh {{$t('aboutRhetRel.jumbotron.header')}}
    p {{$t('learn_more')}}:
    .row.no-gutters
      .col-sm-auto.mr-1.m-1
        b-btn(variant='primary' :to='localePath("aboutRST")') {{$t('aboutRhetRel.jumbotron.links.aboutRST')}}
      .col-sm-auto.ml-1.my-1
        b-btn(variant='success' target='_blank' :href='instruction') {{$t('aboutRhetRel.jumbotron.links.manual')}}
  .row
    .col
      p {{$t('aboutRhetRel.body')}}:
  .row
    .col-sm
      h5 {{$t('aboutRhetRel.single.name')}}
      b-list-group
        b-list-group-item(v-for='(item, key) in single', :key='key')
          |{{item.name.en}}&nbsp;
          span(v-if='$i18n.locale === "rus"')
            |({{item.name.ru}}) &nbsp;
            a(:href='`#${item.name.en}`')
              fa(:icon='faBookmark')
    .col-sm
      h5 {{$t('aboutRhetRel.multiple.name')}}
      b-list-group
        b-list-group-item(v-for='(item, key) in multiple', :key='key')
          |{{item.name.en}}&nbsp;
          span(v-if='$i18n.locale === "rus"')
            |({{item.name.ru}}) &nbsp;
            a(:href='`#${item.name.en}`')
              fa(:icon='faBookmark')
  div(v-if='$i18n.locale === "rus"')
    hr
    h3 {{$t('aboutRhetRel.explanation')}}:&nbsp;
    h4 {{$t('aboutRhetRel.single.name')}}
    p {{$t('aboutRhetRel.single.explanation')}}
    ul
      li.anch(v-for='(item, key) in single' :key='key' :id="item.name.en")
        .my-0.py-0
          b {{item.name.en}} ({{item.name.ru}})
          p {{item.desc}}
            br
            span(v-if='"example" in item')
              |{{$t('example')}}: [
              span(v-for='(ex, key) in item.example' :key="key")
                i(v-if="ex.italic") {{ex.text}}
                span(v-else) {{ex.text}}
              |]
    h4 {{$t('aboutRhetRel.multiple.name')}}
    ul
      li.anch(v-for='(item, key) in multiple' :key='key' :id="item.name.en")
        .my-0.py-0
          b {{item.name.en}} ({{item.name.ru}})
          p {{item.desc}}
            br
            span(v-if='"example" in item')
              |{{$t('example')}}: [
              span(v-for='(ex, key) in item.example' :key="key") {{ex}}
              |]
</template>

<script lang="coffee">
import { faBookmark } from "@fortawesome/free-solid-svg-icons/faBookmark"
import { INSTRUCTION_LINK } from '~/config/fe_constants.coffee'

export default
  name: "aboutRhetRel"
  layout: "nav_foot"
  head: ->
    title: @$t("aboutRhetRel.title")
  computed:
    single: ->
      return @$t("aboutRhetRel.single.list")
    multiple: ->
      return @$t("aboutRhetRel.multiple.list")
    faBookmark: ->
      return faBookmark
    instruction: ->
      return INSTRUCTION_LINK
</script>
