<template lang="pug">
.container
  b-jumbotron(header-level='4')
    template(slot='header')
      p.jh {{$t('contact.jumbotron.header')}}
  h4 {{$t('contact.emails.title')}}:
  ul
    li(v-for='(email, key) in emails' :key='key')
      a(:href='"mailto:"+email+"?subject=rstreebank"') {{email}}
  h4 {{$t('contact.alternative.title')}}
  ValidationObserver(ref='observer' v-if='!submited')
    b-form(slot-scope='{validate}' @submit.prevent='validate().then(onSubmit)' id='contact_form')
      b-form-row
        .col-sm
          BTextInputWithValidation(
              id='name_form_email'
              :name='$t("contact.alternative.form.name").toLowerCase()'
              rules='required'
              type='text'
              :label='$t("contact.alternative.form.name")'
              v-model='form.name'
              :placeholder='$t("contact.alternative.form.name_placeholder")'
            )
        .col-sm
          BTextInputWithValidation(
            id='contact.alternative_form_email'
            :name='$t("contact.alternative.form.email").toLowerCase()'
            :rules='{ required: true, email: true }'
            type='email'
            :label='$t("contact.alternative.form.email")'
            v-model='form.email'
            :description='$t("contact.alternative.form.email_desc")'
            :placeholder='$t("contact.alternative.form.email_placeholder")'
          )
      b-form-row
        .col
          BTextInputWithValidation(
              id='name_form_subject'
              :name='$t("contact.alternative.form.subject").toLowerCase()'
              rules='required'
              type='text'
              :label='$t("contact.alternative.form.subject")'
              v-model='form.subject'
              :placeholder='$t("contact.alternative.form.subject_placeholder")'
          )
      b-form-row
        .col
          BTextAreaWithValidation(
              id='name_form_msg'
              :name='$t("contact.alternative.form.msg").toLowerCase()'
              rules='required'
              type='text'
              :label='$t("contact.alternative.form.msg")'
              v-model='form.msg'
              :placeholder='$t("contact.alternative.form.msg_placeholder")'
          )
      b-button(type='submit' variant='primary') {{$t('contact.alternative.form.submit')}}
  b-row(v-else)
    h3.container {{$t('contact.alternative.form.submited')}}
</template>

<script lang="coffee">
import { ValidationObserver } from 'vee-validate'
import BTextInputWithValidation from '~/components/BTextInputWithValidation.vue'
import BTextAreaWithValidation from '~/components/BTextAreaWithValidation.vue'
import en from 'vee-validate/dist/locale/en'
import ru from 'vee-validate/dist/locale/ru'

export default
  name: 'contact'
  layout: 'nav_foot'
  components: {
    ValidationObserver
    BTextInputWithValidation
    BTextAreaWithValidation
  }
  head: ->
    title: @$t('contact.title')
  mounted: ->
    @switchLocale()
    return
  computed:
    emails: ->
      @$t('contact.emails.list')
  methods:
    switchLocale: ->
      if @$i18n.locale == 'rus'
        @$validator.localize('ru', ru)
      else
        @$validator.localize('en', en)
      return
    onSubmit: ->
      bodyForm = new FormData()
      bodyForm.set('name', @form.name)
      bodyForm.set('email', @form.email)
      bodyForm.set('subject', @form.subject)
      bodyForm.set('msg', @form.msg)
      @$axios.setHeader('Content-Type', 'multipart/form-data', ['post'])
      @$axios
        .$post(window.location.href, bodyForm)
        .then(res ->
          console.log(res)
          return
        )
        .catch(error ->
          console.log(error)
          return
        );
      @resetForm()
      @submited = true
      return false
    resetForm: ->
      @form.name = ''
      @form.email = ''
      @form.subject = ''
      @form.msg = ''
      return
  data: ->
    form:
      name: ''
      email: ''
      subject: ''
      msg: ''
    submited: false
</script>
