<template lang="pug">
.container
  b-jumbotron(header-level='4' :lead='$t("index.jumbotron.lead")')
    template(slot='header')
      p.jh {{$t('index.jumbotron.header')}}
    p {{$t('learn_more')}}:
    .row.no-gutters
      .col-sm-auto.mr-1.mb-1
        b-btn(variant='primary' :to='localePath("aboutRST")')
          | {{$t('index.jumbotron.links.aboutRST')}}
      .col-sm-auto.mr-1.mb-1
        b-btn(variant='success' target='_blank' :href='instruction')
          | {{$t('index.jumbotron.links.manual')}}
      .col-sm-auto
        b-button(variant='success' target='_blank' :href='rst_pub')
          | {{$t('index.jumbotron.links.article')}}
  .row
    .col
      h2 {{$t('index.purpose.header')}}
      p {{$t('index.purpose.info_1')}}
      p {{$t('index.purpose.info_2')}}
    .col
      h2 {{$t('index.composition.header')}}
      p {{$t('index.composition.info_1')}}
      p {{$t('index.composition.info_2')}}
    //- .col // disabled bc of priority
      h2 {{$t('index.search.header')}}
      p {{$t('index.search.info')}}
  .row
    .col
      h2 {{$t('index.news.title')}}
      b-list-group
        b-list-group-item.flex-column.align-items-start(v-for='(card, i) in news', :key='i', tag='article')
          b {{card.date}}:&nbsp;
          | {{card.news}}
  .row.pt-3
    .col
      citation
</template>

<script lang="coffee">
import citation from '~/components/citation.vue'
import { INSTRUCTION_LINK, RST_PUBLICATION } from '~/config/fe_constants.coffee'

export default
  name: 'index'
  layout: 'nav_foot'
  components: {
    citation
  }
  head: ->
    title: @$t('index.title')
  computed:
    news: -> @$t('index.news.list')
    instruction: -> INSTRUCTION_LINK
    rst_pub: -> RST_PUBLICATION
</script>
