<template lang="pug">
.container
  b-jumbotron(header-level='4' :lead='$t("markersVect.jumbotron.lead")')
    template(slot='header')
      p.jh {{$t('markersVect.jumbotron.header')}}
  .row
    .col
      p {{$t('markersVect.body.download')}}: &nbsp;
        b-btn(
          href='https://drive.google.com/drive/folders/1Ff2H8vj3CSUj8obzEIUaPehvTPjcqvrD'
          variant='success'
          target='_blank'
        )
          | {{$t('markersVect.jumbotron.download')}}
      p {{$t('markersVect.body.head')}}
      p {{$t('markersVect.body.neck')}}
      p {{$t('markersVect.body.list.head')}}
      ol
        li(v-for='(el, key) in templates' :key='key')
          | {{el.befcur}}&nbsp;
          i {{el.cur}}&nbsp;
          | {{el.aftcur}}&nbsp;
          i {{el.cur2}}&nbsp;
          | {{el.aftcur2}}
      p {{$t('markersVect.body.foot')}}
</template>

<script lang="coffee">
export default
  name: 'markersVect'
  layout: 'nav_foot'
  head: ->
    title: @$t('markersVect.title')
  computed:
    templates: ->
      @$t('markersVect.body.list.templates')
</script>
