<template lang="pug">
.container
  b-jumbotron(header-level='4', :lead='$t("markersFull.jumbotron.lead")')
    template(slot='header')
      p.jh {{$t('markersFull.jumbotron.header')}}
  .row.no-gutters
    .col-sm-auto.mr-3
      h3 {{$t('markersFull.view.header')}}:
    .col-sm-auto.mr-2
      b-btn(variant="success" href='https://docs.google.com/spreadsheets/d/1_QLanIxKM7ome_ylq-VWNFGI-teCa0-kFoNWIkzv77Y/export?format=xlsx')
        | {{$t('markersFull.view.download')}}
      |&nbsp;{{$t('markersFull.view.or')}}
    .col-sm-auto
      b-btn(v-b-toggle.mf-collapse :variant="variant" @click="change_variant()")
        | {{$t('markersFull.view.view')}}
  .row.mt-2
    .col
      b-collapse#mf-collapse
        //- b-card
          //- p.card-text Collapse contents Here
        b-list-group
          b-list-group-item.py-0(v-for="(marker, idx) in markers" :key="idx") {{marker}}
      //- h5.d-none.d-md-block.d-xl-block.py-1 &nbsp;{{$t('markersFull.view.alternative')}}
  //- iframe.mt-2.d-none.d-md-block.d-xl-block(src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSlZoTJiBSUCAToqVWYsE16zghpwY4d5d8mwV4EUp0VjhheGtiwOcaG4wbqZHGEp3SbFL9L1GJn6xHh/pubhtml?widget=true&amp;headers=false")

</template>

<script lang="coffee">
import { API_BASE } from '~/config/fe_constants.coffee'

export default
  name: "markersFull"
  layout: "nav_foot"
  head: ->
    title: @$t("markersFull.title")
  asyncData: ({ error, $axios }) ->
    markers = []
    await $axios
      .get(API_BASE + 'markers')
      .then((res) ->
        markers = res.data;
        return
      )
      .catch((e) ->
        error(
          statusCode: 404
        )
        return
      )
    return {
      markers
    }
  methods:
    change_variant: () ->
      if @variant == "primary"
        @variant = "outline-primary"
      else
        @variant = "primary"
  data: ->
    return
      API_BASE: API_BASE
      markers: []
      variant: "primary"
</script>

<style lang="scss" scoped>
iframe {
  width: 100%;
  height: 30em;
}
</style>
