<template lang="pug">
.container
  b-jumbotron(header-level='4')
    template(slot='header')
      p.jh {{$t('others.jumbotron')}}
  b-list-group
    b-list-group-item.flex-column.align-items-start(v-for='(card, i) in corpuses' :key='i' tag='article')
      h4 {{card.name}}
      p {{card.desc}}
        | &nbsp;
        a(:href='card.link')
          fa(:icon='fas.faExternalLinkAlt')
</template>

<script lang="coffee">
import { fas } from '@fortawesome/free-solid-svg-icons'

export default
  name: 'index'
  layout: 'nav_foot'
  head: ->
    title: @$t('others.title')
  computed:
    corpuses: ->
      @$t('others.list')
    fas: ->
      fas
</script>
