<template lang="pug">
.container
  b-jumbotron(header-level="4" :lead="$t('team.jumbotron.lead')")
    template(slot="header")
      p.jh {{$t('team.jumbotron.header')}}
  .row
    .col-sm.mt-3.mr-1
      h4 {{$t('team.about.header')}}
      .row
        .col-sm.pb-2
          b-list-group
            b-list-group-item(v-for="(hum, key) in ppl" :key="key")
              | {{hum.name}} [
              span(v-for="(link, key) in hum.info" :key="key")
                a(:href="'#place-'+link")
                  | {{link}}
                span(v-if="hum.info.length > 1 && hum.info.length-1 !== key")
                  | ,&nbsp;
              | ]
        .col-sm
          div.anch#place-1
          b-list-group
            b-list-group-item(v-for="(place, key) in places" :key="key" :id="'place-'+(Number(key)+1)")
              span.anch {{key}}: {{place}}
    .col.mt-3#rcol.border-left
      p {{$t('team.special_thx.thx2ppl')}}
        .row.col
          ul
            li(v-for="(st, key) in spec_thxs" :key="key")
              | {{st}}
        | {{$t('team.special_thx.middle')}}:&nbsp;
        a(href="https://linghub.ru/ru-rstreebank/")
          | https://linghub.ru/ru-rstreebank/
        p {{$t('team.special_thx.thx2annotators')}}:
        .row.col
          ul
            li(v-for="(st, key) in annotators" :key="key")
              | {{st}}
</template>

<script lang="coffee">
export default
  name: 'team'
  layout: 'nav_foot'
  head: ->
    title: @$t('team.title')
  computed:
    ppl: ->
      @$t('team.about.ppl')
    places: ->
      @$t('team.about.places')
    spec_thxs: ->
      @$t('team.special_thx.ppl')
    annotators: ->
      @$t('team.special_thx.annotators')
</script>
